@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
   themes: light --default;
}

@import './styles/nprogress.css';

 .yarl__container {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.article-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1rem auto;
  border-radius: 8px;
}